<h1>Login</h1>

<% if (message) { %>
<%= message %>
<% } %>

<% message %>

<form action="/login" method="POST">  
    <div class="container">
        <label for="email"><strong>Email</strong></label>
        <input type="text" placeholder="Enter your email" name="email" required>
    
        <label for="psw"><strong>Password</strong></label>
        <input type="password" placeholder="Enter your password" name="psw" required>
    
        <button type="submit">Login</button>
    </div>
    <div>
        <p>New user? <a href="/signup">Sign up</a></p>
    </div>
</form>